.imageGallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .lightening {
    display: flex;
    gap: 30px;
  }
  .lightening-sneakers {
    width: 70px;
    border: 5px;
    border-radius: 10px;
  }
  .lightening-sneakers:hover {
   color: hsl(25, 100%, 94%);
   border: 2px solid hsl(26, 100%, 55%);
   opacity: 1;
  }
  .sneakers {
    height: 60vmin;
    border-radius: 10px;
    width: 400px;
  }
 
  .sneakers-responsive{
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .sneakers, .lightening {
      display: none;
    }
    .sneakers-responsive{
      display: flex;
      height: 60vmin;
      border-radius: 10px;
    }
  }